<launch>
  <node pkg="realtime_urdf_filter" type="realtime_urdf_filter" name="realtime_urdf_filter" output="screen" >
    <remap from="~output" to="/self_filtered_depth_image" />
    <remap from="~output_mask" to="/self_filtered_mask" />
    <remap from="/camera/depth_registered/image" to="/camera/depth_registered/image"/>
    <rosparam command="load" file="$(find realtime_urdf_filter)/launch/filter_parameters.yaml"/>
  </node>
</launch>

